:root{
    --primary-color: #f5f5f5;
    --secondary-color: #333;
    --outline-title-color: #20a2b3;
    --title-color: #2eb4e5;
    --color: #1717c2;
    --color1: #111184;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@media (min-width: 769px) {
.Side-Pop-Up {
    display: none;
}
.Mobile-Popup{
    display:none;
}
.Container{
    display: flex;
    flex-direction: column;
    column-gap: 5vw;
    background-color: #FCFCF7;
}
.Logo{
    height: 5.5vw;
    width: 5.5vw;
    border-radius: 50%;
    cursor: default;
}
.Logo-Name{
    display: flex;
    align-items: center;
    gap: 1vw;
    cursor: default;
}
.Name{
    font-size: 2.5vw;
    color: var(--secondary-color);
    font-weight: bold;
    font-family: 'arial', sans-serif;
    cursor: default;
}

.Header{
    background-color: var(--primary-color);
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 1000;
    cursor: default;
}

.Button{
    display: flex;
    gap: 2vw;
}

.Header-Button{
    background: none;
    border: none;
    font-size: 1.6vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    color: #333;
    position: relative; /* Crucial anchor for the line */
    padding: 5px 0;
}

.Header-Button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0); /* Hidden by default */
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom left; /* Slide direction */
    transition: transform 0.25s ease-out; /* Smooth transition */
}

.Header-Button:hover::after {
    transform: scaleX(1);
}
.Content{
    align-items: center;
    justify-content: center;
}
.Content-Title{
    font-size: 2.3vw;
    color: var(--secondary-color);
    font-weight: bold;
    font-family: 'arial', sans-serif;
    padding-left: 2vw;
    cursor: default;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    gap: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
}
.card{
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 1vw;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-decoration: none;
}
.card:hover{
    transform: translateY(-5px);
    text-decoration: none;
}

.title-name{
    font-size: 2vw;
    color: var(--secondary-color);
    font-weight: 500;
    font-style: normal;
    font-family: "Ubuntu", sans-serif;
    font-weight:bold;
    text-decoration: none;
}
.description{
    font-size: 1.5vw;
    color: var(--title-color);
    font-weight: 600;
    font-style: normal;
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 1px var(--outline-title-color);
}
} 